<!-- begin developers -->
<div class="developers">
	<div class="inner developers__inner">
		<div class="developers__content">
			<h2 class="title-lg developers__title">WITH A PARTY<br> ROCKIN´SQUAD</h2>
			<div class="description developers__description">
				<p><strong>Not only extremely cute, but professionals</strong>, environment, buy computer products, or have a computer at home have had the “fun” experience of dealing with technical support. It’s not always the easiest, or most 7.</p>
			</div>
		</div>
		<div class="developers__team">
			<div class="developers__team-in">
				<img src="img/team.png" alt="Developers Team">
			</div>
			<a href="#" class="add-link developers__add">
				<i class="add-link__plus"></i>
				<div class="add-link__content">A BUNCH OF <span>NERDS</span> <strong>DEVELOPERS</strong></div>
			</a>
		</div>
	</div>
</div>
<!-- end developers -->