<!-- begin hero -->
<div class="hero">
	<div class="hero__top">
		<div class="inner hero__inner">
			<div class="hero__img">
				<img src="img/hero-img.png" alt="Phone with app">
			</div>
			<div class="hero__content">
				<img src="img/hero-logo.svg" alt="UGO" class="hero__logo">
				<img src="img/hero-title.svg" alt="UI/UX DESIGN" class="hero__title">
			</div>
		</div>
	</div>
	<div class="hero__bottom">
		<div class="inner">
			<div class="hero__content hero__text">
				<p>When people ask us: <strong>what exactly do you guys do?</strong></p>
				<p>This is what we answer.</p>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->