<!-- begin info-box -->
<div class="info-box">
	<div class="inner info-box__inner">
		<div class="info-box__content">
			<h2 class="title-xl info-box__title">FROM THE<br> VERY BEGGINNING</h2>
			<div class="description info-box__description">
				<p><strong>User centered design</strong>, memory packed computer can begin to run slow if we don’t do something to prevent it. </p>
			</div>
		</div>
		<div class="info-box__img">
			<img src="img/info-box.png" alt="FROM THE VERY BEGGINNING">
		</div>
	</div>
</div>
<!-- end info-box -->