<!-- begin process -->
<div class="process">
	<div class="inner process__inner">
		<div class="process__content">
			<h2 class="title-lg process__title">FOLLOWING A FLAWLESS PROCESS</h2>
			<div class="description process__description">
				<p><strong>We do believe in Agile methods, hell yeah!</strong> say that do things online that they wouldn’t want their parents to know about. 11% of all adult internet users visit&nbsp;dating websites and spend their time in chatrooms.</p>
			</div>
		</div>
		<div class="process__img">
			<div class="process__img-in">
				<img src="img/process-img.png" alt="FOLLOWING A FLAWLESS PROCESS">
			</div>
		</div>
	</div>
</div>
<!-- end process -->