<!-- begin works -->
<div class="works js-works">
	<div class="inner works__inner">
		<div class="works__content works__col">
			<h2 class="title-xl works__title">WE CREATE GREAT EXPERIENCES</h2>
			<div class="description works__description">
				<p><strong>More than 100 succesful projects</strong> for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
			</div>
			<div class="works__range">
				<div class="range js-range"></div>
			</div>
		</div>
		<div class="works__slider works__col">
			{% set slider = [
				{ alt: 'Reporte Gráfico' , id: 1},
				{ alt: 'Gimnasios', id: 2 },
				{ alt: 'Reporte Gráfico', id: 3 },
				{ alt: 'Reporte Gráfico', id: 1 },
				{ alt: 'Gimnasios', id: 2 }
			] %}
			<div class="slider works__slider-in js-slider">
				{% for item in slider %}
				    <div class="slide js-slide">
				    	<div class="slide__mobile">
				    		<div class="slide__mobile-in" style="background-image: url(img/works-{{item.id}}-mobile.png);"></div>
				    	</div>
				    	<div class="slide__desktop">
				    		<div class="slide__desktop-in" style="background-image: url(img/works-{{item.id}}-desktop.png);"></div>
				    	</div>
				    </div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end works -->